/* * {
    flex: content;
    margin: 0;
    padding: 0;
}

.p-5 {
    font-size: 60px;
    color: rgb(122, 242, 242);
    background-color: blue;
    border-bottom: 5px solid black;
    margin: 1rem auto;
    padding: 20px;
    text-align: center;
  } */
  
  li {
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      margin: 10px;
      padding: 10px;
      border: 2px solid black;
      text-decoration: none;
  } 

  .list-group {
    display: inline-block;
    flex-direction: column;    
    padding-left: 0;
    margin-bottom: 0;   
    text-decoration: none; 
  }